# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

Wishes/node_modules/
Wishes/platforms/
Wishes/plugins/
Wishes/www/css/ionic.app.css
Wishes/www/css/ionic.app.min.css
