<ion-modal-view view-title="Location Picker" id="dashboard-modal-post-modal-location-picker">
	<ion-header-bar>
		<button class="button button-clear nav-button" style="color: black;font-size:13px; font-weight: 400;" ng-click="locationPickerCancel()">Cancel</button>
      <h1 class="title">{{ selectedAddress }}</h1>
      <button class="button button-clear nav-button" style="color: black;font-size:13px; font-weight: 400;" ng-click="locationPickerDone()">Done</button>
    </ion-header-bar>
	<ion-content class="padding animated pulse">
		<img class="map-marker" srcset="img/marker.png 2x">
		<div id="map-modal-post" data-tap-disabled="true"></div>
	</ion-content>
	<div class="wish-spinner animated" ng-show="spinnerShouldShow">
	    <ion-spinner icon="ripple"></ion-spinner>
	</div>
</ion-modal-view>
