<ion-modal-view view-title="Wish Composer" id="dashboard-modal-post">
	<div class="wrapper">
		<ion-header-bar>
			<h1 class="title">Wish Composer</h1>
			<button class="button button-clear nav-button" style="color: black;font-size:13px; font-weight: 400;" ng-click="closePostModal()">
				Dismiss
			</button>
		</ion-header-bar>
		<ion-content class="padding animated pulse">
			<form name="wishForm">
				<div class="row">
					<div class="col">
						<input name="title" type="text" class="wish-title" placeholder="Give my wish a title" ng-model="postWishTitle" ng-required="true" ng-minlength="5">
						<p class="help" ng-if="wishForm.title.$error.minlength">*title is too short</p>
						<p class="help" ng-if="!wishForm.title.$error.minlength && wishForm.title.$invalid && !wishForm.title.$pristine">*title required</p>
						<br class="help" ng-if="wishForm.title.$pristine || !wishForm.title.$error.minlength && !wishForm.title.$invalid">
					</div>
				</div>
				<div class="row">
					
				</div>
				<div class="row">
					<div class="col">
						<div class="description-wrapper">
							<textarea name="description" placeholder="I wish..." class="wish-content" ng-model="postWishDescription" ng-required="true"></textarea>
						</div>
						<p class="help" ng-if="wishForm.description.$invalid && !wishForm.description.$pristine">*description required</p>
						<br class="help" ng-if="!wishForm.description.$invalid || wishForm.description.$pristine">
					</div>
				</div>
				<div class="row" ng-show="selectedPoint">
					<div class="col">
						<div class="map-wrapper" ng-click="showLocationPicker()">
							<div class="address-line">
								{{ selectedAddress }}
							</div>
							<img ng-src="{{thumbnailURL()}}" ng-srcset="{{thumbnailURL()}}">
							<!-- <div id="map-modal-post" data-tap-disabled="true"></div> -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col col-75">
						<button class="button button-balanced location-picker-button" ng-click="showLocationPicker()" ng-show="!selectedPoint">Need Physical Meetup?</button>
						<button class="button button-assertive location-picker-button" ng-click="removeAddress()" ng-show="selectedPoint">Remove Meetup Address</button>
					</div>
					<div class="col col-25">
						<button type="submit" class="button button-energized post-button" ng-disabled="wishForm.$invalid" ng-click="post()">Post!</button>
					</div>
				</div>
			</form>
		</ion-content>
	</div>
</ion-modal-view>
