<ion-modal-view view-title="Post" id="dashboard-modal-post">
	<ion-header-bar>
      <h1 class="title">Wish Composer</h1>
      <button class="button button-clear nav-button" style="color: black;font-size:13px; font-weight: 400;" ng-click="closeModal()">
            Dismiss
        </button>
    </ion-header-bar>
	<ion-content class="padding">
		<div class="row">
			<div class="col">
				<input type="text" class="wish-title" placeholder="Give my wish a title">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<textarea placeholder="I wish..." class="wish-content"></textarea>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="button button-energized">Post!</a>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
