<ion-modal-view view-title="Post" id="dashboard-modal-post">
	<div class="wrapper">
		<ion-header-bar>
	      <h1 class="title">Wish Composer</h1>
	      <button class="button button-clear nav-button" style="color: black;font-size:13px; font-weight: 400;" ng-click="closeModal()">
	            Dismiss
	        </button>
	    </ion-header-bar>
		<ion-content class="padding animated pulse">
			<div class="row">
				<div class="col">
					<input type="text" class="wish-title" placeholder="Give my wish a title">
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="description-wrapper">
						<textarea placeholder="I wish..." class="wish-content"></textarea>
					</div>
				</div>
			</div>
			<div class="row" ng-class="isElementVisible('map-thumbnail')">
				<div class="col">
					<div class="map-wrapper" ng-click="showLocationPicker()">
						<div class="address-line">
							{{ selectedAddress }}
						</div>
						<img ng-srcset="{{thumbnailURL()}}">
						<!-- <div id="map-modal-post" data-tap-disabled="true"></div> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col col-75">
					<button class="button button-balanced location-picker-button" ng-click="showLocationPicker()" ng-class="isElementVisible('select-address-button')">Select Meetup Address</button>
					<button class="button button-assertive location-picker-button" ng-click="removeAddress()" ng-class="isElementVisible('remove-address-button')">Remove Meetup Address</button>
				</div>
				<div class="col col-25">
					<a class="button button-energized post-button">Post!</a>
				</div>
			</div>
		</ion-content>
	</div>
</ion-modal-view>
