<ion-modal-view view-title="Get" id="dashboard-modal-get" no-scroll>
	<div class="wrapper">
		<ion-header-bar>
	      <h1 class="title">Wishes Picker</h1>
	      <button class="button button-clear nav-button" style="color: black;font-size:13px; font-weight: 400;" ng-click="closeGetModal()">
	            Dismiss
	        </button>
	    </ion-header-bar>
		<!-- <ion-content class="padding animated pulse" no-scroll>
		</ion-content> -->

		<div ng-if="cards.active">
			<td-cards class="animated pulse">
				<td-card ng-repeat="card in cards.active" on-destroy="cardDestroyed($index)" on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)">
					<div class="image">
					<!-- <div class="no-text"><i class="icon ion-thumbsdown"></i></div> -->
					<!-- <div class="yes-text"><i class="icon ion-thumbsup"></i></div> -->
					<div class="discard" ng-click="onClickTransitionOut(card)">DISCARD</div>
					<img>
					</div>
				</td-card>
				<td-card id="end-card" drag="false">
					<i class="icon ion-ios-refresh disable-user-behavior" ng-click="refreshCards()"></i>
				</td-card>
			</td-cards>
		</div>
	</div>

</ion-modal-view>
