<ion-modal-view view-title="Wish Picker" id="dashboard-modal-get">
	<div class="wrapper">
		<ion-header-bar>
	      <h1 class="title">Wishes Picker</h1>
	      <button class="button button-clear nav-button" style="color: black;font-size:13px; font-weight: 400;" ng-click="closeGetModal()">
	            Dismiss
	        </button>
	    </ion-header-bar>
		<div ng-if="cards.active">
			<td-cards class="animated pulse .animated-transition">
				<td-card ng-repeat="card in cards.active track by card.id" on-destroy="cardDestroyed($index)" drag="false">
					<ion-content class="content-panel">
						<div class="wish-title">{{ card.title }}</div>
						<hr>
						<div class="wish-description">{{ card.description }}</div>
						<hr>
						<div class="wish-contact" ng-show="card.has_contact_number">
							Contact Available
						</div>
						<div class="wish-contact-n" ng-show="!card.has_contact_number">
							Contact Not Available
						</div>
						<hr ng-show="card.needs_meetup">
						<div class="map-thumbnail" ng-click="" ng-show="card.needs_meetup">
							<div class="address-line">{{ card.address }}</div>
							<img ng-src="{{ thumbnailURL(card.latitude, card.longitude) }}" ng-srcset="{{ thumbnailURL(card.latitude, card.longitude) }}">
						</div>
						<div class="blank-space"></div>
					</ion-content>
					<div class="row button-line">
						<div class="col">
							<button class="button button-assertive button-block" ng-click="discardWish();onClickTransitionOut(card)">Discard</button>	
						</div>
						<div class="col">
							<button class="button button-balanced button-block" ng-click="acceptWish(card)">Accept</button>	
						</div>
					</div>
				</td-card>

				<td-card id="end-card" drag="false" ng-click="loadRandomWishes(0)">
					<i class="icon ion-ios-refresh disable-user-behavior" style="color: white;"></i>
				</td-card>
				
			</td-cards>
		</div>
	</div>
	<div class="wish-spinner" ng-show="spinnerShouldShow">
	    <ion-spinner icon="ripple"></ion-spinner>
	    <div class="status-message">loading nearest wishes...</div>
	</div>
</ion-modal-view>
