<ion-view view-title="Wishes" name="login" id="login-view">
    <ion-content class="padding" delegate-handle="contentScroll">
        <div class="title animated bounceInDown">Wishes</div>

        <div class="button-group animated bounceInUp">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Username: First User" ng-model="data.username">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password: Randomguy" ng-model="data.password">
                </label>
            </div>
            <button class="button button-block button-positive" ng-click="login(data)">Login</button>


            <div class="sign-up">
                <div class="sign-up-title">Don't have an account?</div>
                <button class="button button-block button-balanced" ng-click="">Sign Up</button>
            </div>
        </div>
    </ion-content>        
</ion-view>
