<ion-view view-title="Leaderboard" id="leaderboard" overflow-scroll="false">
    <ion-content>

        <div class="button-bar-wrapper middle-align">
            <div class="button-bar">
                <a class="button" ng-class="{'button-positive': isSelected(0)}" ng-click="switchTo(0)">Haves</a>
                <a class="button" ng-class="{'button-positive': isSelected(1)}" ng-click="switchTo(1)">Helpers</a>
                <a class="button" ng-class="{'button-positive': isSelected(2)}" ng-click="switchTo(2)">Wishers</a>
            </div>
        </div>

        <div class="haves" ng-show="shouldShow[0]">
            <div class="wrapper ng-class:{ 'current-user': isCurrentUser(thisGuy), 'extra-user': $index >= leaderboardLength };" ng-repeat="thisGuy in haves track by thisGuy.id" >
                <div class="card animated leaderboard-card" ng-class="animateClass[0][$index % 2]">
                    <div class="item">
                        <div>
                            <div>
                                <img class="avatar-image" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 1">
                                <div class="rank background-one" ng-show="$index % 2 === 0">
                                    {{ thisGuy.ranking ? thisGuy.ranking : $index + 1 }} 
                                </div>
                            </div>
                            <div class="text-content">
                                <div class="name">{{ thisGuy.display_name || thisGuy.username}}</div>
                                <div class="points">{{ thisGuy.points }} points</div>
                            </div>
                            <div>
                                <img class="avatar-image pull-right" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 0">
                                <div class="rank background-one" ng-show="$index % 2 === 1">
                                    {{ thisGuy.ranking ? thisGuy.ranking : $index + 1 }}  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="helpers" ng-show="shouldShow[1]">
            <div class="wrapper ng-class:{ 'current-user': isCurrentUser(thisGuy), 'extra-user': $index >= helpers.length };" ng-repeat="thisGuy in helpers track by thisGuy.id" >
                <div class="card leaderboard-card animated"  ng-class="animateClass[1][$index % 2]">
                    <div class="item">
                        <div>
                            <div>
                                <img class="avatar-image" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 1">
                                <div class="rank background-two" ng-show="$index % 2 === 0">
                                    {{ thisGuy.ranking ? thisGuy.ranking : $index + 1 }}
                                </div>
                            </div>
                            <div class="text-content">
                                <div class="name">{{ thisGuy.display_name || thisGuy.username}}</div>
                                <div class="points">
                                    {{ thisGuy.count > 1 ? thisGuy.count + ' helps' : (thisGuy.count === 1 ? '1 help' : 'no helps') }}
                                </div>
                            </div>
                            <div>
                                <img class="avatar-image pull-right" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 0">
                                <div class="rank background-two" ng-show="$index % 2 === 1">
                                    {{ thisGuy.ranking ? thisGuy.ranking : $index + 1 }}  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>

        <div class="wishers" ng-show="shouldShow[2]">
            <div class="wrapper ng-class:{ 'current-user': isCurrentUser(thisGuy), 'extra-user': $index >= leaderboardLength };" ng-repeat="thisGuy in wishers track by thisGuy.id" >
                <div class="card leaderboard-card animated" ng-class="animateClass[2][$index % 2]">
                    <div class="item">
                        <div>
                            <div>
                                <img class="avatar-image" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 1">
                                <div class="rank background-three" ng-show="$index % 2 === 0">
                                    {{ thisGuy.ranking ? thisGuy.ranking : $index + 1 }}
                                </div>
                            </div>
                            <div class="text-content">
                                <div class="name">{{ thisGuy.display_name || thisGuy.username }}</div>
                                <div class="points">
                                    {{ thisGuy.count > 1 ? thisGuy.count + ' wishes' : (thisGuy.count === 1 ? '1 wish' : 'no wishes') }}
                                </div>
                            </div>
                            <div>
                                <img class="avatar-image pull-right" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 0">
                                <div class="rank background-three" ng-show="$index % 2 === 1">
                                    {{ thisGuy.ranking ? thisGuy.ranking : $index + 1 }}  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
