<ion-view view-title="Activity" id="activity">
  	<ion-content class="padding">
    	<div class="card activity-card" ng-repeat="activity in activities" ng-click="selectActivity(activity)">
			<div class="item item-avatar">
				<img src="http://www.91feizhuliu.com/uploads/becb45378080045c/9.jpg">
					<h2>Pretty Hate Machine</h2>
					<p>Nine Inch Nails</p>
			</div>

            <div class="item item-text-wrap">
                <div>
                    {{ activity.description }}
                </div>
            </div>
        </div>
  	</ion-content>
</ion-view>