<ion-view view-title="Settings" id="settings">
	<ion-content>
		<div class="card profile-card animated fadeInDown">
			<img class="img-circle middle-align" ng-src="./img/avatars/{{ session.currentUserID()%8 }}.svg">
			<div class="nickname">{{ session.currentUserDisplayName() }}</div>
			<hr>
			<!-- <p class="continuous-day">You've been helping others continously for 100 days</p> -->
			<div>
				<div class="item row user-statistics">
					<div class="col title-subtitle">
						<div class="title">{{ session.currentUserPoints() }}</div>
						<div class="subtitle">Points</div>
					</div>
					<div class="col title-subtitle">
						<div class="title">{{ session.currentUserPostedWishesCount() }}</div>
						<div class="subtitle">Wishes</div>
					</div>
					<div class="col title-subtitle">
						<div class="title">{{ session.currentUserPickedWishesCount() }}</div>
						<div class="subtitle">Accepted</div>
					</div>
				</div>
			</div>
		</div>

		<div class="setting-list">
			
			<div class="card setting-card animated fadeInUp">
				<div class="item">
					<label class="item item-input item-floating-label">
						<span class="input-label">Display Name</span>
						<input type="text" placeholder="Display Name" ng-change="userDisplayNameInputDidChange(displayName)" ng-model="displayName" ng-model-options="{debounce:1000}">
						<span class="caption">*If no display name is specified, your username will be used instead.</span>
					</label>
				</div>
				<div class="item">
					<label class="item item-input item-floating-label">
						<span class="input-label">Email</span>
						<input type="Email" placeholder="Email" ng-change="userEmailInputDidChange(email)" ng-model="email" ng-model-options="{debounce:1000}">
						<span class="caption">*Email is the only way to find your password back if you lose it</span>
					</label>
				</div>
				<div class="item">
					<label class="item item-input item-floating-label">
						<span class="input-label">Hand Phone</span>
						<input type="text" placeholder="Hand Phone" ng-change="userPhoneInputDidChange(phone)" ng-model="phone" ng-model-options="{debounce:1000}">
						<span class="caption">*People would love to pick your wishes if they can contact you!</span>
					</label>
				</div>
			</div>

			<div class="card setting-card animated fadeInUp button-card animated fadeInUp" style="animation-delay: 0.3s">	
				<button class="button button-assertive button-block card setting-card" ng-click="logout()">Sign Out</button>
			</div>
		</div>
	</ion-content>
</ion-view>
