<ion-view view-title="Leaderboard" id="leaderboard">
    <ion-content>

        <div class="button-bar-wrapper middle-align">
            <div class="button-bar">
                <a class="button" ng-class="{'button-positive': isSelected(0)}" ng-click="switchTo(0)">Haves</a>
                <a class="button" ng-class="{'button-positive': isSelected(1)}" ng-click="switchTo(1)">Helpers</a>
                <a class="button" ng-class="{'button-positive': isSelected(2)}" ng-click="switchTo(2)">Wishers</a>
            </div>
        </div>


        <div class="haves" ng-show="shouldShow[0]">
            <div class="card leaderboard-card animated {{ $index % 2 === 0 ? 'bounceInLeft' : 'bounceInRight' }}" ng-repeat="thisGuy in haves" ng-class="animateClass[0][$index % 2]">
                <div class="item">
                    <div>
                        <div>
                            <img class="avatar-image" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 1">
                            <div class="rank" ng-show="$index % 2 === 0">
                                {{ $index + 1 }} 
                            </div>
                        </div>
                        <div class="text-content">
                            <div class="name">{{ thisGuy.display_name }}</div>
                            <div class="points">{{ thisGuy.points }} points</div>
                        </div>
                        <div>
                            <img class="avatar-image pull-right" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 0">
                            <div class="rank" ng-show="$index % 2 === 1">
                                {{ $index + 1 }} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="helpers" ng-show="shouldShow[1]">
            <div class="card leaderboard-card animated {{ $index % 2 === 0 ? 'bounceInLeft' : 'bounceInRight' }}" ng-repeat="thisGuy in helpers" ng-class="animateClass[1][$index % 2]">
                <div class="item">
                    <div>
                        <div>
                            <img class="avatar-image" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 1">
                            <div class="rank" ng-show="$index % 2 === 0">
                                {{ $index + 1 }} 
                            </div>
                        </div>
                        <div class="text-content">
                            <div class="name">{{ thisGuy.display_name }}</div>
                            <div class="points">{{ thisGuy.counts }} helps</div>
                        </div>
                        <div>
                            <img class="avatar-image pull-right" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 0">
                            <div class="rank" ng-show="$index % 2 === 1">
                                {{ $index + 1 }} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="wishers" ng-show="shouldShow[2]">
            <div class="card leaderboard-card animated {{ $index % 2 === 0 ? 'bounceInLeft' : 'bounceInRight' }}" ng-repeat="thisGuy in wishers" ng-class="animateClass[2][$index % 2]">
                <div class="item">
                    <div>
                        <div>
                            <img class="avatar-image" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 1">
                            <div class="rank" ng-show="$index % 2 === 0">
                                {{ $index + 1 }} 
                            </div>
                        </div>
                        <div class="text-content">
                            <div class="name">{{ thisGuy.display_name }}</div>
                            <div class="points">{{ thisGuy.counts }} wishes</div>
                        </div>
                        <div>
                            <img class="avatar-image pull-right" ng-src="./img/avatars/{{thisGuy.id % 8}}.svg" ng-show="$index % 2 === 0">
                            <div class="rank" ng-show="$index % 2 === 1">
                                {{ $index + 1 }} 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
