<ion-view view-title="Settings" id="settings">
	<ion-content>
		<div class="card profile-card">
			<img class="img-circle middle-align" ng-src="http://67.media.tumblr.com/1b70e7efd3eba88c15fb122c41d255ca/tumblr_n0valuruRN1r4t05to5_400.jpg">
			<h2 class="nickname">Alice</h2>
			<p class="continuous-day">You've been helping others continously for 100 days</p>
			<div class="three-columns">
				<div class="column-element title-subtitle">
					<div class="title">1200</div>
					<div class="subtitle">Points</div>
				</div>
				<div class="column-element title-subtitle">
					<div class="title">145</div>
					<div class="subtitle">Wishes</div>
				</div>
				<div class="column-element title-subtitle">
					<div class="title">146</div>
					<div class="subtitle">Accepted</div>
				</div>
			</div>
			
		</div>
		<button class="button button-assertive button-block" ng-click="logout()">Sign Out</button>
	</ion-content>
</ion-view>
