<ion-view view-title="Dashboard" id="dashboard">
    <ion-content class="padding" scroll="false">
        <div class="dashboard-header">
            <div>Nice day, Alice!</div>
        </div>
        <div class="card dashboard-card">
            <div class="item item-text-wrap">
                You haven't made any wish today...
            </div>
        </div>
        <div class="card dashboard-card">
            <div class="item item-text-wrap">
                You haven't listened to anyone's wish today...
            </div>
        </div>
  </ion-content>
</ion-view>
