<ion-view view-title="Dashboard" id="dashboard">
    <ion-content class="padding" scroll="false">
        <div class="dashboard-header">
            <div>Nice day, Alice!</div>
        </div>
        <div class="card dashboard-card">
            <div class="item item-text-wrap">
                <div>
                    You haven't made any wish today...
                </div>
                <a class="button button-energized" href="/#/tab/post">
                    I Wish ...
                </a>
            </div>
        </div>
        <div class="card dashboard-card">
            <div class="item item-text-wrap">
                <div>
                    Listened to other's wishes...
                </div>
                <a class="button button-energized">
                    Show Me
                </a>
            </div>
        </div>
  </ion-content>
</ion-view>
