<ion-view view-title="Wishes" id="wishes" ng-init="init()">
	<ion-content class="padding">
		<div class="button-bar-wrapper middle-align">
			<div class="button-bar">
				<a class="button" ng-class="{'button-positive': isSelected(0)}" ng-click="switchTo(0)">I've made</a>
				<a class="button" ng-class="{'button-positive': isSelected(1)}" ng-click="switchTo(1)">I've accepted</a>
			</div>
		</div>

		<div class="my-wishes" ng-show="isSelected(0) && myWishes.length !== 0 && !isMyWishesLoading">
			<div class="current-wishes" ng-show="(myWishes|filter:currentFilter).length != 0">
				<div class="wish-group-header animated fadeInUp">current wishes</div>
				<div ng-click="cardDidClick(wish)" class="card wish-card animated fadeInUp" ng-repeat="wish in myWishes | filter: currentFilter" style="animation-delay:{{$index * 0.05}}s">
					<div class="item item-text-wrap item-icon-right">
						<i ng-if="getWishStatus(wish) == 'picked'" class="icon ion-heart icon"></i>
						<div class="title">{{wish.title}}</div>
						<div class="time">{{wish.time}}</div>
						<div class="description">{{wish.description}}</div>
					</div>
				</div>
			</div>

			<div class="past-wishes" ng-show="(myWishes|filter:expiredFilter).length != 0">
				<div class="wish-group-header animated fadeInUp">past wishes</div>
				<div ng-click="cardDidClick(wish)" class="card wish-card animated fadeInUp" ng-repeat="wish in myWishes | filter: expiredFilter" style="animation-delay:{{ $index * 0.05 + myWishes.length * 0.05 }}s">
					<div class="item item-text-wrap item-icon-right">
						<i ng-if="getWishStatus(wish) == 'expired'" class="icon ion-heart-broken icon"></i>
						<i ng-if="getWishStatus(wish) == 'fulfilled'" class="icon ion-checkmark-circled icon"></i>
						<div class="title">{{wish.title}}</div>
						<div class="time">{{wish.time}}</div>
						<div class="description">{{wish.description}}</div>
					</div>
				</div>
			</div>
		</div>

		<div class="other-wishes" ng-show="isSelected(1) && othersWishes.length !== 0">
			<div class="current-wishes" ng-show="(othersWishes|filter:currentFilter).length != 0">
				<div class="wish-group-header animated fadeInUp">current wishes</div>
				<div ng-click="cardDidClick(wish)" class="card wish-card animated fadeInUp" ng-repeat="wish in othersWishes | filter: currentFilter" style="animation-delay:{{$index * 0.05}}s">
					<div class="item item-text-wrap item-icon-right">
						<!-- <i class="icon ion-checkmark-circled icon"></i> -->
						<div class="title">{{wish.title}}</div>
						<div class="time">{{wish.time}}</div>
						<div class="description">{{wish.description}}</div>
						<i ng-if="getWishStatus(wish) == 'picked'" class="icon ion-heart icon"></i>
					</div>
				</div>
			</div>

			<div class="past-wishes" ng-show="(othersWishes|filter:expiredFilter).length != 0">
				<div class="wish-group-header animated fadeInUp">past wishes</div>
				<div ng-click="cardDidClick(wish)" class="card wish-card animated fadeInUp">
					<div class="item item-text-wrap item-icon-right" ng-repeat="wish in othersWishes | filter: expiredFilter" style="animation-delay:{{ $index * 0.05 + othersWishes.length * 0.05 }}s">
						<!-- <i class="icon ion-checkmark-circled icon"></i> -->
						<div class="title">{{wish.title}}</div>
						<div class="time">{{wish.time}}</div>
						<div class="description">{{wish.description}}</div>
						<i class="icon ion-chevron-right icon-accessory"></i>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>