<ion-view view-title="Wishes" id="wishes" ng-init="init()">
	<ion-content class="padding">
		<div class="button-bar">
			<a class="button" ng-class="{'button-energized': isSelected(0)}" ng-click="switchTo(0)">I've made</a>
			<a class="button" ng-class="{'button-energized': isSelected(1)}" ng-click="switchTo(1)">I've accepted</a>
		</div>
		<ion-item-group class="wish-list">
			<ion-item-divider light>current wishes</ion-item-divider>
			<ion-item class="item-icon-right" ng-repeat="wish in currentWishes" type="item-text-wrap" href="#/tab/wishes/{{wish.id}}">
				<h2>{{wish.title}}</h2>
				<p>{{wish.description}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
			<ion-item-divider light>past wishes</ion-item-divider>
			<ion-item class="item-icon-right" ng-repeat="wish in pastWishes" type="item-text-wrap" href="#/tab/wishes/{{wish.id}}">
				<h2>{{wish.title}}</h2>
				<p>{{wish.description}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-item-group>
	</ion-content>
</ion-view>