<ion-view view-title="Wish Card" id="wish-detail">
	<ion-content class="padding">
		<div class="wish-card-wrapper">
			<img ng-src="{{wish.image}}" style="width: 64px; height: 64px" class="middle-align img-circle">
			<div class="card wish-card">
				<h3 class="title">
					{{wish.title}}
				</h3>
				<p>
					{{wish.description}}
				</p>
			</div>
		</div>
		<a class="button" ng-class="getStatusBtnClass()">
			{{getStatusBtnText()}}
		</a>
		<div class="wish-timeline">

			<div class="timeline-block row" ng-repeat="activity in activities">
				<div class="col col-10">
					<div class="timeline-icon middle-align">
					</div>
					<div class="timeline-line middle-align">
					</div>
				</div>
				<div class="col col-90">
					<div class="item item-avatar timeline-card ">
						<img ng-src="{{activity.image}}">
						<p>{{activity.time}}</p>
						<h3 class="description">{{activity.description}}</h3>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>