<ion-view view-title="Wish Card" id="wish-detail">
	<ion-content class="padding">
		<div class="wish-card-wrapper">
			<div class="card wish-card">
				<div class="title">
					{{wish.title}}
				</div>
				<!-- <a class="button" ng-class="getStatusBtnClass()">
					{{getStatusBtnText()}}
				</a> -->
				<div class="description">
					{{wish.description}}
				</div>
			</div>
		</div>

		<div class="wish-location" ng-show="wish.needs_meetup" ng-click="mapThumbnailDidClick()">
			<hr>
			<div class="block-title">Meetup Location</div>
			<div class="map-thumbnail" ng-click="">
				<div class="address-line">{{ wish.address }}</div>
				<img ng-srcset="{{ thumbnailURL(wish.latitude, wish.longitude) }}">
			</div>
		</div>

		<div class="wish-assignee" ng-show="wish.assigned_to && wish.assigned_to != session.currentUserID()">
			<hr>
			<div class="block-title">Wish Picker</div>
			<div class="card timeline-card">
				<div class="item item-avatar">
					<img class="avatar" ng-src="./img/avatars/{{ wish.assigned_to ? wish.assigned_to % 8 : 0 }}.svg">
					<div class="description"> {{ wish.assignee_display_name || 'Ghost' }}</div>
				</div>
				<div class="item item-icon-left" ng-show="wish.assignee_phone">
					<i class="icon ion-ios-telephone"></i>
					<div class="contact">HP: {{ wish.assignee_phone }}</div>
				</div>
			</div>
		</div>

		<div class="wish-owner" ng-show="wish.user_id != session.currentUserID()">
			<hr>
			<div class="block-title">Wish Owner</div>
			<div class="card timeline-card">
				<div class="item item-avatar">
					<img class="avatar" ng-src="./img/avatars/{{ wish ? wish.user_id % 8 : 0 }}.svg">
					<div class="description"> {{ wish.wisher_display_name }}</div>
				</div>
				<div class="item item-icon-left" ng-show="wish.wisher_contact_number">
					<i class="icon ion-ios-telephone"></i>
					<div class="contact">HP: {{ wish.wisher_contact_number }}</div>
				</div>
			</div>
		</div>


		<div class="wish-timeline">
			<hr>
			<div class="block-title">Activities</div>
			<div class="timeline-block" ng-repeat="activity in activities">
				<div class="line-wrapper">
					<div class="timeline-icon"></div>
					<div class="timeline-line" ng-show="$index !== 0"></div>
				</div>
				<div class="card-wrapper">
					<div class="card timeline-card">
						<div class="item item-avatar">
							<img class="avatar" ng-src="{{ activity.image }}">
							<div class="description"> {{ activity.description }}</div>
							<div class="time">{{ activity.time | date:'medium'}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="wish-action" ng-show="(activities.length === 2 && session.currentUserID() === wish.assigned_to) || (activities.length === 3 && session.currentUserID() === wish.user_id)">
			<hr>
			<button class="button button-balanced button-block" ng-show="activities.length === 2 && session.currentUserID() === wish.assigned_to" ng-click="doerMarkFulfill()">
				Mark as Fulfilled
			</button>

			<button class="button button-assertive button-block" ng-show="activities.length === 3 && session.currentUserID() === wish.user_id" ng-click="wisherMarkNotFulfill()">
				I'm not satisfied :(
			</button>
			<button class="button button-balanced button-block" ng-show="activities.length === 3 && session.currentUserID() === wish.user_id" ng-click="wisherMarkFulfill()">
				I'm satisfied :D
			</button>

		</div>
	</ion-content>
</ion-view>