<ion-view view-title="Wish Card" id="wish-detail">
	<ion-content class="padding">
		<div class="wish-card-wrapper">
			<div class="card wish-card">
				<div class="title">
					{{wish.title}}
				</div>
				<!-- <a class="button" ng-class="getStatusBtnClass()">
					{{getStatusBtnText()}}
				</a> -->
				<div class="description">
					{{wish.description}}
				</div>
			</div>
		</div>
		<div class="wish-timeline">
			<div class="timeline-block" ng-repeat="activity in activities">
				<div class="line-wrapper">
					<div class="timeline-icon">
					</div>
					<div class="timeline-line">
					</div>
				</div>
				<div class="card-wrapper">
					<div class="card timeline-card">
						<div class="item item-avatar">
							<img class="avatar" ng-src="{{ activity.image }}">
							<div class="description"> {{ activity.description }}</div>
							<div class="time">{{ activity.time | date:'medium'}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wish-action">
			<button class="button button-balanced button-block" ng-show="activities.length === 2 && session.currentUserID() === wish.assigned_to">
				Mark as Fulfilled
			</button>

			<button class="button button-balanced button-block" ng-show="activities.length === 3 && session.currentUserID() === wish.user_id">
				Confirm Fulfillment
			</button>
		</div>
	</ion-content>
</ion-view>