#activity {
  color: $text-light;
  background: $pimary-background-color;

  .activity-card {
    animation-duration: 0.5s;
    cursor: pointer;
    transition: 0.2s ease-in-out all !important;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;

    .viewed {
      background: black;
      color: white !important;
      opacity: 0.2;
    }

    .item {

      .dismiss {
        position: relative;
        top: 10px;
        right: 10px;

      }

      .title {
        margin-top: 3px;
        line-height: 1.5em;
        font-size: 15px;
      }

      .time {
        margin-top: 10px;
        color: #aaaaaa;
        font-size: 12px;
      }
    }
  }
}