#leaderboard {
	color: $text-light;
	background: $pimary-background-color;

	.button-bar-wrapper {
  	margin-top: 20px;
  	margin-bottom: 30px;
  	margin-left: 20px;
  	margin-right: 20px;
	
		a, button {
      transition: 0.2s ease-in-out all !important;
      @include box-shadow(2px, 0px, 3px, rgba(0, 0, 0, 0.15));
    }

    a:first-child {
    	border-top-left-radius: 50px;
    	border-bottom-left-radius: 50px;
    }

    a:last-child {
    	border-top-right-radius: 50px;
    	border-bottom-right-radius: 50px;
    }

    .activated {
      border-color: transparent;
      @include box-shadow(1px, 0px, 3px, rgba(0, 0, 0, 0.1));
    }
  }

  .placeholder {
    text-align: center;
    font-size: 1.2em;
  }

  $card-row-height: 100px;
  $card-margin: 20px;

  .leaderboard-card {
  	.item {
  		padding: 0px;
  		height: $card-row-height;

  		.text-content {
  			position: absolute;
  			top: $card-margin;
  			height: $card-row-height - $card-margin * 2;
				text-align: center;

  			.name {
  				font-weight: 800;
  				font-size: 18px;
  				margin-top: 5px;
  				margin-bottom: 10px;
  			}
  		}

  		.avatar-image {
  			position: absolute;
  			width: $card-row-height - $card-margin * 2;
  			height: $card-row-height - $card-margin * 2;
  			top: $card-margin;
	  	}

	  	.rank {
	  		font-size: 30px;
	  		color: white;
	  		text-align: center;
	  		/*border-radius: $card-row-height/2 - $card-margin;*/
	  		line-height: $card-row-height;
	  		position: absolute;
  			width: 100px;
  			height: $card-row-height;
	  	}
  	}
  }

  .wrapper:nth-child(odd) {
    .leaderboard-card {
    	border-radius: 5px;
    	border-top-right-radius: 200px;
    	border-bottom-right-radius: 200px;
    	margin-right: 20px;
    	margin-left: -40px;
    	.avatar-image {
  	  	right: $card-margin;
  	  }

  	  .rank {
  	  	left: 0px;
  	  	padding-left: 50px;
  	  	padding-right: 12px;
  	  }

  	  .text-content {
  	  	left: 90px;
  	  	right: $card-row-height
  	  }
    }
  }

  .wrapper:nth-child(even) {
    .leaderboard-card {
    	border-radius: 5px;
    	border-top-left-radius: 200px;
    	border-bottom-left-radius: 200px;
    	margin-left: 20px;
    	margin-right: -40px;
    	.avatar-image {
  	  	left: $card-margin;
  	  }

  	  .rank {
  	  	padding-right: 50px;
  	  	padding-left: 12px;
  	  	right: 0px;
  	  }

  	  .text-content {
  	  	left: $card-row-height;
  	  	right: 90px;
  	  }
    }
  }

  $gold-color: #f4d15d;
  $silver-color: #c5c5c5;
  $bronze-color: #dfaf87;

  .wrapper:nth-child(1) .rank {
    background-color: $gold-color;
  }

  .wrapper:nth-child(2) .rank {
    background-color: $silver-color;
  }

  .wrapper:nth-child(3) .rank {
    background-color: $bronze-color;
  }

  .wrapper.current-user .item {
    background-color: #fff6db;
  }

  .wrapper.extra-user {
    .rank {
      width: auto;
    }
  }

  .wrapper.extra-user::before {
    content: "\00a0 • • • • • •";
    display: inline-block;
    text-align: center;
    font-size: 3em;
    line-height: 2em;
  }
}

.animation-duration-short {
  animation-duration: 0.3s !important;
}

.background-one {
  background-color: #54747F;
}

.background-two {
  background-color: #81CCB8; 
}

.background-three {
  background-color: #CE4C4C;
}
