#wish-detail {
  text-align: center;
  background: $pimary-background-color;
  color: $text-dark;

  .wish-card {
    margin: 10px;
    padding: 30px 20px;
    border-radius: 10px;

    .title {
      color: $text-dark;
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 20px;
    }

    .description {
    }
  }

  .wish-timeline {
    margin-top: 25px;
    margin-right: 10px;
    text-align: left;

    .timeline-block {
      height: 100px;


      .card-wrapper {
        position: absolute;
        width: calc(100vw - 80px);
        right: 10px;

        .timeline-card {
          border-radius: 10px;

          .avatar {
            margin-top: 3px;
          }

          .description {
            font-weight: 800;
            font-size: 15px;
            margin-top: 2px;
            margin-bottom: 5px;
            /*margin-left: 13px;*/
          }

          .time {
            font-size: 11px;
            /*margin-left: 13px;*/
          }
        }
      }

      .line-wrapper {
        position: absolute;
        width: 80px;
        height: 100px;

        .timeline-icon {
          position: absolute;
          left: 15px;
          top: 25px;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          margin-top: 25px;
          background-color: $balanced;
          border-style: solid;
          border-width: 3px;
          border-color: white;
          @include box-shadow(1px, 0px, 3px, rgba(0, 0, 0, 0.1));
        }

        .timeline-line {
          content: '';
          position: absolute;
          top: -35px;
          left: 24px;
          height: 100px;
          width: 3px;
          background: white;
          z-index: -1000;
          @include box-shadow(1px, 0px, 3px, rgba(0, 0, 0, 0.1));
        }
      }

      .description {
        white-space: normal;
      }
    }

/*    .timeline-block:first-child {
      .timeline-line {
        top: 50%;
        height: 50%;
      }
    }

    .timeline-block:last-child {
      .timeline-line {
        top: 0;
        height: 50%;
      }
    }

    .timeline-block:only-child {
      .timeline-line {
        top: 0;
        height: 0%;
      }
    }*/
  }

  .wish-action {
    a, button {
      margin-top: 20px;
      text-transform: uppercase;
      transition: 0.2s ease-in-out all !important;
      @include box-shadow(2px, 0px, 3px, rgba(0, 0, 0, 0.15));
    }

    .activated {
      border-color: transparent;
      @include box-shadow(1px, 0px, 3px, rgba(0, 0, 0, 0.1));
    }
  }
}