#wishes {
  color: $text-light;
  background: $pimary-background-color;

  .wish-group-header {
  	margin-top: 20px;
  	padding: 5px;
  	font-weight: 300;
  	font-size: 17px;
  }

  .button-bar-wrapper {
  	margin-top: 20px;
  	margin-left: 20px;
  	margin-right: 20px;
	a, button {
      transition: 0.2s ease-in-out all !important;
      @include box-shadow(2px, 0px, 3px, rgba(0, 0, 0, 0.15));
    }

    a:first-child {
    	border-top-left-radius: 50px;
    	border-bottom-left-radius: 50px;
    }

    a:last-child {
    	border-top-right-radius: 50px;
    	border-bottom-right-radius: 50px;
    }

    .activated {
      border-color: transparent;
      @include box-shadow(1px, 0px, 3px, rgba(0, 0, 0, 0.1));
    }
  }

  .wish-card  {
  	margin-top: 10px;
  	margin-bottom: 10px;
  	border-radius: 5px;

  	.title {
  		font-size: 17px;
  		text-overflow:ellipsis;
    	overflow:hidden;
    	white-space:nowrap;
  	}

  	.time {
  		margin-top: 10px;
  		margin-bottom: 5px;
  		font-size: 12px;
  	}

  	.description {
  		color: gray;
  		font-size: 13px;
  		text-overflow:ellipsis;
    	overflow:hidden;
    	white-space:nowrap;
  	}
  }
}